<div id="<%= dom_id flat %>">
  <p>
    <strong>Name:</strong>
    <%= flat.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= flat.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= flat.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= flat.price %>
  </p>

  <p>
    <strong>Rooms:</strong>
    <%= flat.rooms %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= flat.available %>
  </p>

  <p>
    <strong>Listed at:</strong>
    <%= flat.listed_at %>
  </p>

</div>
